/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {}

/* md <= Large (lg) */
@media (max-width : 992px) {

	.container,
	.container-right {
		padding: 0 30px;
	}

	.header__content {
		background-image: none;
	}
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.header__img {
		opacity: .3;

		background-image: url("../images/el-1.svg"),
			url("../images/el-4.svg");
		background-repeat: no-repeat;
		background-position: right 100px, bottom right;
	}

	.menu__list {
		column-gap: 35px;
	}

	.about__inner {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 30px;
		column-gap: 30px;
	}

	.destinations__row {
		flex-direction: column;
	}

	.destinations__content {
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}

	.exploring__body:after {
		top: 25px;
		right: 22px;
	}

	.exploring__body:before {
		bottom: 25px;
		left: 22px;
	}

	.subscribe__form-email {
		width: 700px;
	}

	.owl-carousel .owl-stage {
		padding: 15px 0;
		margin: 54px 0;
	}
}

/* xs <= Small (sm) */
@media (max-width : 576px) {


	.header__burger {
		order: 4;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header__burger::before,
	.header__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger span {
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__menu {
		position: absolute;
		display: none;
		overflow: auto;
		width: 100%;
		height: 100%;
		border: none;
		padding: 70px 10px 20px 10px;
		transition: all 0.3s ease 0s;
	}

	.header__menu.active {
		display: block;
		top: -10px;
		left: 100px;
		transition: all 0.3s ease 0s;
	}

	.header__list {
		display: block;
	}

	.header__list li {
		margin: 0px 0px 20px 0px;
	}

	.header__link {
		color: black;
		font-size: 24px;
	}

	.header__content {
		min-width: 576px;
	}

	.slider__item {
		object-fit: fill;
	}

	.slider__btn-next {
		left: 470px;
	}

	.slider__btn-prev {
		left: -15px;
	}

	.owl-carousel .owl-item img {
		max-width: 323px;
		margin-left: 100px;
	}

	.exploring {
		margin-top: 125px;
	}

	.exploring__body:after {
		display: none;
	}

	.exploring__text {
		padding: 0 10px;
		text-align: center;
	}

	.subscribe__title {
		font-weight: 500;
	}

	.subscribe__form-email {
		display: flex;
		flex-direction: column;
		width: 500px;
	}

	.subscribe__btn {
		font-size: 15px;
		padding: 13px 44px;
	}

	.subscribe__form-email-input input {
		border-bottom: 1px solid #ff7b4e;
		margin-bottom: 10px;
	}

	.footer .header__menu {
		display: block;
		padding: 0;
		top: 3px;
		left: 100px;

	}

	.footer__button-normal,
	.footer__button-active {
		display: none;
	}
}

@media (max-width : 375px) {
	body.lock {
		overflow: hidden;
	}

	.elem {
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.elem::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	.container,
	.container-right {
		width: 100%;
		padding: 0 5px;
	}

	.header {
		min-height: 780px;
	}

	.header__top {
		justify-content: space-around;
	}


	.header__menu {
		position: absolute;
		display: none;
		overflow: auto;
		width: 100%;
		height: 100%;
		border: none;
		padding: 70px 10px 20px 10px;
		transition: all 0.3s ease 0s;
	}

	.header__menu.active {
		display: flex;
		flex-direction: column;
		row-gap: 200px;
		align-items: center;
		justify-content: center;
		position: fixed;
		overflow-y: auto;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(100.05deg, #428e5f -17.38%, #112120 78.4%), #204434;
		transition: all 0.3s ease 0s;
	}

	.header__menu.active .header__button {
		display: flex;
		flex-direction: column;
		row-gap: 25px;
	}

	.header__button {
		margin: 0;
		padding: 0;
	}

	.menu__list {
		flex-direction: column;
		display: flex;
		align-items: center;
		row-gap: 50px;
	}

	.header__list li {
		margin: 0px 0px 20px 0px;
	}

	.header__content {
		min-width: 404px;
		padding-left: 15px;
		padding-right: 40px;
	}

	.header__title {
		font-size: 34px;
		line-height: 64px;
	}

	.header__btn {
		position: absolute;
		bottom: 45px;
		left: 110px;
	}

	.destinations__content {
		padding: 0 14px;
	}

	.destinations__btn {
		align-self: center;
	}

	.destinations__slider {
		width: 100%;
		height: 100%;
	}

	.slider__item {
		margin: 0;
	}

	.owl-carousel .owl-item img {
		margin-left: 17px;
	}

	.slider .center .slider__item {
		width: 335px;
		height: 402px;
	}

	.slider__btn {
		top: 89%;
		width: 40px;
		height: 40px;
}

	.slider__btn-prev {
		left: 10px;
		padding-left: 10px;
	}

	.slider__btn-next {
		left: 315px;
		padding-right: 10px;
	}

	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
		background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
		#8b8b8b;
	 }
	 .owl-theme .owl-dots .owl-dot span {
		background: transparent;
		border: 1px solid #ff584e;
	 }

	.about__content {
		width: 100%;
		padding: 0 15px;
	}

	.about__img {
		padding: 0 15px;
	}

	.about__img img {
		object-fit: contain;
		width: 100%;
	}

	.about__content-title {
		font-size: 42px;
		line-height: 52px;
		margin-right: 9px;
	}

	.about__content-icon {
		flex-shrink: 0;
	}

	.about__content-rating {
		display: flex;
		justify-content: center;
	}

	.about__content-rating img {
		width: 80%;
	}

	.place {
		margin-left: 25px;
	}

	.place__name {
		font-size: 28px;
	}

	.place__adress {
		font-size: 16px;
	}

	.about__content-text {
		font-size: 16px;
		line-height: 22px;
	}

	.exploring {
		margin-top: 75px;
	}

	.exploring__body {
		min-height: 480px;
		border-radius: 35px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		-ms-border-radius: 35px;
		-o-border-radius: 35px;
		justify-content: space-around;
	}

	.exploring__body::before {
		bottom: 74px;
		left: 7px;
	}

	.exploring__title {
		margin-top: 30px;
		font-size: 36px;
		line-height: 49px;
		font-weight: 400;
	}

	.exploring__text {
		font-size: 25px;
		margin-bottom: 70px;
	}

	.exploring_btn {
		margin-bottom: 10px;
	}

	.subscribe {
		margin: 75px 0;
	}

	.subscribe__title {
		font-size: 35px;
		font-weight: 400;
	}

	.subscribe__form-email {
		width: 100%;
	}

	.subscribe__form-email-input input {
		padding: 0px;
		font-size: 16px;
		line-height: 22px;
		margin-top: 10px;
	}

	.subscribe__btn {
		padding: 10px 40px;
		line-height: 30px;
	}

	.footer {
		padding-bottom: 20px;
		padding-left: 20px;
	}

	.footer__top {
		display: flex;
		justify-content: space-evenly;
	}

	.footer .header__menu {
		display: none;
	}

	.footer__go-back {
		display: block;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
	}

	.footer__svg {
		fill: #ff7b4e;
	}
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {}

/* Small (sm) */
@media (min-width : 576px) {}

/* Medium (md) */
@media (min-width : 768px) {}

/* Large (lg) */
@media (min-width : 992px) {}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}