.menu {
	min-height: 111px;
	&__list {
		display: flex;
		align-items: center;
		padding-top: 42px;
	}

	&__item {
		margin-left: 64px;

		&:first-child a {
			color: $pomegranate;
		}
	}

	&__link {
		font-size: 17px;
		font-weight: 400;
		line-height: 20px;
		color: $mountainMist;
	}
}

