.menu {
	display: flex;
	align-items: center;
	&__list {
		display: flex;
		column-gap: 80px;
		font-size: 15px;
		font-weight: 500;


		& a.active:after,
		& a:hover:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: -6px;
			right: 10px;
			height: 4px;
			background-color: $colorGray;
			border-radius: 100px;
		}
	}

	&__link {
		position: relative;
	}
}