$backgroundBtn: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
	#8b8b8b;
$backgroundHeader: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%),
	#204434;
$colorBlack: #0f1f1c;
$colorBlackRgba: rgba(15, 31, 28, 0.5);
$colorWhite: #f6f6f6ff;
$colorWhiteRgba: rgba(255, 255, 255, 0.25);
$colorGray: #c4c4c4;
$containerWidth: 1270px;
$containerPadding: 15px;
