$backgroundBtn: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
$backgroundHeader: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
$colorBlack: #0F1F1C;
$colorBlackRgba: rgba(15, 31, 28, 0.5);
$colorWhite: #f6f6f6ff;
$colorWhiteRgba: rgba(255, 255, 255, 0.25);
$colorGray: #c4c4c4;
$containerWidth: 1270px;
$containerPadding: 15px;
